@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bebas-font {
  font-family: "Bebas Neue", sans-serif;
}

.inter-font {
  font-family: "Inter", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .container {
    @apply mx-auto lg:max-w-7xl px-5 lg:px-0;
  }

  

  .text-gradient {
    @apply bg-gradient-to-r from-white to-zinc-400;
    @apply bg-clip-text text-transparent;
  }
  .button {
    @apply inline-block px-4 py-2 text-white bg-zinc-700 rounded;
  }
  .button-outline {
    @apply border border-zinc-400 px-4 py-2 rounded;
  }
  .input {
    @apply bg-zinc-900 px-4 py-2 rounded;
  }
}
